fma_small/
fma_metadata/
mels_set_*/
all_metadata.p
__pycache__/
*.zip
data/
*.pth
high_res_gan/out/
high_res_gan_v2/out/
deep_features/conv_*/
deep_features/vae_*/
deep_features/lstm_*/
*/out/
!results/gan/*
results/gen_stuff.sh
results/gen_stuff4.sh
results/gen_stuff2.sh
results/gen_stuff3.sh
params.txt
report/report.lof
.vscode/settings.json
